name: CI

on: [push, fork, workflow_dispatch]

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master

  check:
    strategy:
      matrix:
        os: [ubuntu, windows, macos]
      fail-fast: false
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          pip install uv --disable-pip-version-check --no-cache-dir
          uv pip install -r pyproject.toml --system
      - name: Check code quality
        run: |
          ruff format --check --diff
          ruff check --diff
      - name: Check typing
        run: |
          npx pyright
